.techUsed {
    visibility: hidden;
    position: fixed;
    background-color: #587088f8;
    height: 200px;
    width: 64%;
    margin: 200px 18%;
    top: 0vh;
}

.techUsed div {
    background-color: #405870f8;
    color: #d8d8f0;
    padding: 10px;
    float: right;
}

.techUsed div:hover {
    cursor: pointer;
}

ul {
    color: #d8d8f0;
    padding: 0 5%;
}
li {
    margin: 10px 0;
}