<div class="techUsed" id="techUsed">
    <div id="techUsedCloseButton">Close</div>
    <ul>
        <li>HTML5: Used to build most of the site</li>
        <li>CSS: Used to style the whole site</li>
        <li>TypeScript: Used in controlling the buttons</li>
        <li>
            Frameworks/Libraries: Angular used building the framework of the website, such as using the different components to make creating portions of the interface simpler/easier.
        </li>
        <li>Web Server: Website is serving, allowing data to be fetched.</li>
        <li>Fetching Data: data is fetched for building each page within the site</li>
    </ul>
</div>
