<ul class="pages">
  <li class="chat page">
    <div class="chatArea">
      <ul class="messages">
        
      </ul>
    </div>
    <input class="inputMessage" placeholder="Type here">
  </li>
</ul>