<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TypeScript and Async</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <script type="text/template" id="table-template">
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{address}}</td>
            <td>{{phone}}</td>
            <td>https://{{website}}</td>
            <td>{{company}}</td>
            <td><img src="{{avatar}}"></td>
        </tr>
    </script>
    <div class="container-fluid">
        <br>
        <button id="populate" class="btn btn-primary">Populate Data</button>
        <br>
        <br>
        <table class="table table-bordered table striped">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Website</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Avatar</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</body>
</html>