<body>
    <header>
        <div class="social">
            <a href="https://www.linkedin.com/in/nickolas-reimschiissel-726847149/"><img src="../assets/images/LinkedIn-Icon.png" alt="linkedin.com/in/nickolas-reimschiissel-726847149/"></a>
            <a href="https://www.github.com/Mogogipen"><img src="../assets/images/github-icon.png" alt="github.com/Mogogipen"></a>
        </div>
        
        <img src="../assets/images/nicks-logo.png" alt="" class="button logo home">
        <div class="title">
            <p class="button home">Nickolas Reimschiissel</p>
            <span></span>
        </div>
        <div class="menu">
            <div class="button home">Home</div>
            <div class="button" id="projects">Projects</div>
            <div class="button" id="about">About Me</div>
            <div class="button" id="contact">Contact</div>
        </div>
    </header>

    <div class="mainBody">
        <div>
            <img id="bodyImage" [src]="bodyImage">
            <article id="bodyText">
            </article>
        </div>
    </div>
    
    <footer>
        <div class="divider">Watch for falling beams, this website is under construction!</div>
        <div class="button" id="techUsedButton"><div>Technology Used</div></div>
    </footer>
</body>
<app-tech-used></app-tech-used>