/* General */
body {
    padding: 0;
    margin: 0;
    background-color: #eeeefe;
}

div {
    padding-top: 25px;
}

.button:hover {
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    position: fixed;
    background-color: #a0ccff;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.social {
    position: absolute;
    padding-right: 40px;
    right: 0;
}
.social img {
    border: none;
    padding-right: 20px;
    width: 40px;
    height: 40px;
}

.logo {
    position: fixed;
    height: 75px;
}

.title {
    background-color: #4090f0;
    margin: 0 25%;
    height: 50px;
    font-size: 25pt;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    padding-top: 0;
    margin-top: -10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}
.menu div {
    background-color: #68b0f0;
    padding: 15px;
    float: left;
    height: 20px;
    color: white;
}

.menu div:hover {
    background-color: #4080d0;
}

/* Body */
.mainBody {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mainBody div {
    margin-top: 100px;
    margin-bottom: 35px;
    padding: 50px 0;
    background-color: #dddde8;
    width: 70%;
}

.mainBody div article {
    margin: 0 75px;
    font-size: 16pt;
    line-height: 1.4;
}

.mainBody div img {
    margin: 25px 75px;
    float: right;
    border: 10px solid #ccccdd;
    height: 20px;
}

/* Footer */
footer {
    height: 100px;
    background-color: #2878d8;
}

.divider {
    padding: 5px;
    text-align: center;
    background-color: red;
    color: yellow;
}

#techUsedButton {
    padding: 0;
    margin: 0 40%;
    background-color: #68b0f0;
    color: white;
    text-align: center;
}
#techUsedButton:hover {
    background-color: #4080d0;
}
#techUsedButton div{
    padding: 10px;
    margin: 0;
}