<ul class = "pages">
  <li class = "chat page">
    <div class = "chatArea">
      <ul class = "messages" #messages>
        <ng-container *ngIf="allMessages.length">
          <li *ngFor="let message of allMessages" [app-message]="message"></li>
        </ng-container>
      </ul>
    </div>
    <input #inputMessage class="inputMessage" placeholder="Type here..." [(ngModel)]="message" (clickEvent)="inputMessageClick($event)">
  </li>
</ul>