div {
    height: 100px;
    width: 100px;
    margin: 100px;
}

.box {
    background-color: red;
    transition-duration: 0.5s;
    transition-property: background-color, border-radius;
}

.box:hover {
    background-color: blue;
    transition-property: background-color, border-radius;
    border-radius: 50%;
}

.skew {
    background-color: #5a5;
    transition-property: transform;
    transition-duration: 1s;
}

.skew:hover {
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
}

.scale-up {
    background-color: #AAF;
    transition-property: transform;
    transition-duration: 0.5s;
}

.scale-down {
    background-color: goldenrod;
}

.scale-down:hover {
    transform: scale(0.5,0.5);
}

.change-color {
    background-color: red;
    transition-property: background-color;
    animation-name: morph-colors;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
}

.change-color:hover {
    animation-name: morph-back;
    transition-property: background-color;
    animation-duration: 4s;
}

@keyframes morph-colors {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: purple;
    }
}

@keyframes morph-back {
    0% {
        background-color: purple;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}