/* CSS for flexbox.html */

.container div:nth-child(1) {
    background-color: blue;
    order: 5;
    flex-grow: 2;
}

.container div:nth-child(2) {
    background-color: red;
    order: 1;
    flex-grow: 2;
}

.container div:nth-child(3) {
    background-color: green;
    order: 4;
}

.container div:nth-child(4) {
    background-color: purple;
    order: 6;
}

.container div:nth-child(5) {
    background-color: yellow;
    order: 3;
    flex-grow: 2;
}

.container div:nth-child(6) {
    background-color: orange;
    order: 2;
}

.container div {
    width: 100px;
    margin: 10px;
    padding: 50px;
    /* color: white; */
    text-align: center;
    font-size: 20pt;
}

.container {
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #49c;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: baseline; */
}