div.links {
	background-color: rgb(157, 203, 255);
	width: 150px;
	padding: 5px;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
	color: rgb(16, 41, 75);
}

#title {
	text-align: center;
	padding-top: 10px;
}

td {
	text-align: center;
}

tr {
	border: solid;
	border-width: 1 px; 
	border-color: black;
}