/* "." is the class selector
.cool-beans > h1 {
    display: flex;
}

 [] is the attribute selector 
[id] {
    display: block;
}

 # is the id selector 
#style {
    display: grid;
}

 : is the pseudo class selector 
div:first-child {
    display: inline;
}

 "*" references all elements 
* {
    padding: 0px;
    margin: 0px;
} */

ul {
    padding: 20px;
    list-style-type: none;
    background-color: #55bbff;
    margin: 0;
}

ul li {
    background-color: #39e;
    padding: 10px 10px 10px 25px;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

ul li:hover {
    background-color: aliceblue;
    color: black;
}

a:visited {
    color: gray;
}