@import url(http://fonts.googleapis.com/css?family=Nunito+Sans);

.two-columns {
    column-count: 2;
}

div.body, div.title {
    margin: 10px 10%;
    padding: 5px 5%;
}

img {
    float: right;
    padding: 15px;
}

.container {
    display: flex;
}

.column-1 {
    margin-right: 20px;
}

h1, h2, h3 {
    font-family: 'Nunito sans', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
    font-style: italic;
}

p {
    font-family: "Comic Sans MS", sans-serif;
    font-size: xx-small;
}